{% extends 'body/base.html' %}
{% load tasks_tags %}

{% block navbar %}
{% endblock %}

{% block title %}
{{ title }} :: Добавления задачи
{% endblock %}

{% block content %}

<h1>Добавления задачи</h1>

<form action="{% url 'add_task' %}" method="post">
    {% csrf_token %}

    {{ form.non_field.errors }}
    {{ form.as_p }}


    {% comment %}
    {{ form.non_field.errors }}

    <div class="mb-3">

        <label class="form-label" for="{{ form.title.id_for_label }}">Название: </label>
        {{ form.title }}
        <div class="invalid-feedback">
            {{ form.title.errors }}
        </div>

        <label class="form-label" for="{{ form.content.id_for_label }}">Текст: </label>
        {{ form.task }}
        <div class="invalid-feedback">
            {{ form.task.errors }}
        </div>


        <label class="form-label" for="{{ form.content.id_for_label }}">Состояние: </label>
        {{ form.is_published }}
        <div class="invalid-feedback">
            {{ form.is_published.errors }}
        </div>

        <label class="form-label" for="{{ form.content.id_for_label }}">Категория: </label>
        {{ form.category }}
        <div class="invalid-feedback">
            {{ form.category.errors }}
        </div>

    </div>
    {% endcomment %}

        <button class="btn btn-primary btn-block" type="submit">Добавить новость</button>


</form>

{% endblock %}